.app-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.heading_content {
    width: 375px;
    padding: 10px;
}

.table_content {
    padding: 10px;
    padding-left: 90px;
    width: 375px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

button,
td {
    border: 1px solid #ffffff;
    position: relative;
}

button {
    border: 1px solid black;

}

td {
    border: 1px solid black;
}